* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #3882F6;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    color: #F9FAF8;
    padding: 8px 36px;
    border: none;
    border-radius: 10px;
}

.cta button {
    border: 3px solid #F9FAF8;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

a, p {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

li {
    list-style-type: none;
}

.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
}

.right {
    display: flex;
    gap: 20px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px 0px 60px 0;
    gap: 20px;
}

.hero-title {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 450px;
    align-items: flex-start;
}

.hero-image {
  border-radius: 8px;
  box-shadow: 10px 0px 19px #F9FAF8;
  max-width: 420px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: -10px;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 80px 0px 120px 0;
}

.info {
    display: flex;
    gap: 44px;
    justify-content: space-between;
    padding: 40px 0 0 0;
}

.text {
    color: rgb(99, 99, 99);
    padding-top: 12px;
}

.box {
    width: 170px;
}

.outline {
    width: 170px;
    height: 170px;
    border-radius: 12px;
    border: 4px solid #3882F6;
}

.section2 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0 120px 0;
}

.section2 p {
    font-size: 26px;
    font-weight: 800;
    color: #1F2937;
    align-self: flex-end;
}

.section2 .testimonial {
    font-size: 36px;
    font-style: italic;
    color: #5e5e5e;
    font-weight: 300;
    width: 800px;
}

#box {
    display: flex;
    flex-direction: column;
}

.section3 {
    display: flex;
    justify-content: center;
    padding: 150px 0;
}

.cta {
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    border-radius: 12px;
    width: 1200px;
    padding: 60px 100px;
}

h3 {
    color: #F9FAF8;
    font-size: 30px;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}