* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #3882F6;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    color: #F9FAF8;
    padding: 8px 36px;
    border: none;
    border-radius: 10px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

a, p {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

li {
    list-style-type: none;
}

.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
}

.right {
    display: flex;
    gap: 20px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px 0px 60px 0;
    gap: 20px;
}

.hero-title {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 450px;
    align-items: flex-start;
}

.hero-image {
  border-radius: 8px;
  box-shadow: 10px 0px 19px #F9FAF8;
  max-width: 420px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: -10px;
}